@font-face {
    font-family: ElMessiri-Regular;
    src: url(assets/ElMessiri-Regular.ttf);
}

body, html {
    font-family: ElMessiri-Regular;
    height: 100%;
}

.vp-xs { display: inherit; }
.vp-sm, .vp-md, .vp-lg, .vp-xl { display: none; }

/* Nav */
nav {
    color: #015450;
    background-color: #ededed;
}

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

.navbar-toggler { position: fixed; }

nav h6 { color: #015450; }

.nav-link {
    color: #015450;
    font-size: 1.2em;
}
.nav-link.active { color: #0d6e69; }

.nav a:hover { color: #10a19a; }


/* Body */
.parallax {
    background-image: url('./assets/logo_header.jpg');
    height: 100%;
    z-index: -500;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    position: relative;
    bottom: 20px;
    margin-bottom: -400px;
}

.sections {
    color: #ededed;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}
.sections h4 { font-size: 2.25em; }
.sections h6 { font-size: 1.6em; }
.sections a {
    color: #ededed;
    text-decoration: underline;
}

.overlay { background-color: #015450; }
.overlay h1 { font-size: 3em; }
.overlay h3 { font-size: 1.8em; }

.bottom-text { padding-top: 20px; }

.contact-us {
    color: #015450;
    background-color: #fbfbfb;
    padding-top: 20px;
}
.contact-us h1 { font-size: 2.5em; }
.contact-us h5 { font-size: 1.3em; }
.contact-us .input { font-size: 1em; }
.contact-us button { width: 100%; }
.contact-us .left { text-align: center; }
.contact-us .right {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.contact-us .right button {
    background-color: #015450;
    color: #ededed;
}

/* Footer */
.footer {
    color: #0d6e69;
    background-color: #fbfbfb;
    padding-top: 50px;
}

.footer h5 { font-size: 1.5em; }
.footer p { font-size: 1em; }

.footer .copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e7e6e6;
}


/* Home Page */
.home-page .section-1 { background-color: #10a19a; }
.home-page .section-2 { background-color: #015450; }

/* Welcome Page */
.welcome-page .section-1 {
    background-color: #10a19a;
}
.welcome-page .section-2 {
    color: #015450;
    background-color: #fbfbfb;
}
.welcome-page .section-3 { background-color: #015450; }

/* Community Page */
.community-page .section-1 {
    background-color: #10a19a;
}
.community-page .section-2 {
    color: #015450;
    background-color: #fbfbfb;
}
.community-page .section-2 a { color: #015450; }
.community-page .section-3 { background-color: #015450; }


@media (min-width: 576px) {
    nav h3 { font-size: 1.8em; }
    .nav-link { font-size: 1.5em; }

    .vp-xs, .vp-md, .vp-lg, .vp-xl { display: none; }
    .vp-sm { display: inherit; }

    .overlay h1 { font-size: 3.8em; }
    .overlay h3 { font-size: 2.8em; }

    .sections h4 { font-size: 3em; }
    .sections h6 { font-size: 2.1em; }
    .sections {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-right: 40px;
        padding-left: 60px;
    }

    .bottom-text { padding-top: 20px; }

    .footer h5 { font-size: 2em; }
    .footer p { font-size: 1.5em; }
}

@media (min-width: 768px) {
    nav h3 { font-size: 2.3em; }
    .nav-link { font-size: 1.75em; }

    .vp-xs, .vp-sm, .vp-lg, .vp-xl { display: none; }
    .vp-md { display: inherit; }

    .overlay h1 { font-size: 4.25em; }
    .overlay h3 { font-size: 3.3em; }

    .sections h4 { font-size: 3.25em; }
    .sections h6 { font-size: 2.25em; }
    .sections {
        padding-top: 75px;
        padding-bottom: 60px;
        padding-right: 60px;
        padding-left: 75px;
    }

    .bottom-text { padding-top: 40px; }

    .contact-us h1 { font-size: 3.5em; }
    .contact-us h5 { font-size: 2.25em; }
    .contact-us .left { padding-bottom: 50px; }
}

@media (min-width: 992px) {
    nav h3 { font-size: 2.25em; }
    .nav-link { font-size: 1.5em; }

    .vp-xs, .vp-sm, .vp-md, .vp-xl { display: none; }
    .vp-lg { display: inherit; }

    .parallax {
        background-image: url('./assets/logo_header.jpg');
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: pixelated;
        bottom: unset;
        margin-bottom: -350px;
    }

    .overlay { background-color: rgba(13, 110, 105, 0.4); }
    .overlay h1 { font-size: 4.25em; }
    .overlay h3 { font-size: 3em; }

    .sections h4 { font-size: 3.25em; }
    .sections h6 { font-size: 2em; }
    .sections {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 80px;
        padding-left: 80px;
    }

    .bottom-text { padding-top: 60px; }

    .contact-us .right { padding-top: 0px; }
    .contact-us h1 { font-size: 3em; }
    .contact-us h5 { font-size: 1.75em; }
    .contact-us .input { font-size: 1em; }
    .contact-us button { width: 100%; }
    .contact-us .left { text-align: left; }

}

@media (min-width: 1200px) {
    nav h3 { font-size: 2.5em; }
    .nav-link { font-size: 1.75em; }

    .vp-xs, .vp-sm, .vp-md, .vp-lg { display: none; }
    .vp-xl { display: inherit; }

    .overlay h1 { font-size: 5em; }
    .overlay h3 { font-size: 4.5em; }

    .sections h4 { font-size: 3.8em; }
    .sections h6 { font-size: 2.6em; }
    .sections {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .bottom-text { padding-top: 80px; }

    .contact-us h1 { font-size: 3.5em; }
    .contact-us h5 { font-size: 2em; }
    .contact-us .input { font-size: 2em; }

    .footer h5 { font-size: 2.25em; }
    .footer p { font-size: 1.75em; }
}